.block {
    width: 100%;
    height: auto;
    padding: 90px 0;
    background-image: url('/public/img/other/bgAbout.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.block .block__text {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block .block__text .nameText {
    border-bottom: 2px solid #172130;
    color: #172130;
}

.block .block__text span {
    max-width: 1200px;
    text-align: left;
    display: inline;
    background-color: #172130ad;
    color: #FFFFFF;
    font-size: 18px;
    margin: 12px;
    line-height: 1.7;
    padding: 10px 15px;
}

.block .block__text span b {
    color: #ffb000;
}







@media (max-width: 500px) {

    span,
    p {
        font-size: 16px !important;
    }

    .block {
        padding: 60px 10px;
    }

    .block .block__text .nameText {
        max-width: 480px;
        text-align: center;
        padding: 0;
    }

    .block .block__text {
        max-width: 480px;
    }

    .block .block__text span {
        max-width: 480px;
        padding: 8px;
        text-align: justify;
    }



}


@media (min-width: 501px) and (max-width: 650px) {

    span,
    p {
        font-size: 16px !important;
    }

    .block {
        padding: 60px 10px;
    }

    .block .block__text .nameText {
        max-width: 650px;
        text-align: center;
        padding: 0;
    }

    .block .block__text {
        max-width: 650px;
    }

    .block .block__text span {
        max-width: 650px;
        padding: 8px;
        text-align: justify;
    }

}


@media (min-width: 651px) and (max-width: 741px) {

    .block {
        padding: 60px 10px;
    }

    .block .block__text .nameText {
        max-width: 741px;
        text-align: center;
        padding: 0;
    }

}


@media (min-width: 742px) and (max-width: 1200px) {

    .block {
        padding: 60px 10px;
    }

    .block .block__text .nameText {
        max-width: 1200px;
        text-align: center;
        padding: 0;
    }

}