* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

dl,
ol,
ul,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.App {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}

.App h2 {
  font-family: 'Alumni Sans', sans-serif;
  font-size: 50px;
}

.App .nameText {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
}

.active {
  font-size: 17px;
  font-weight: bold;
  color: #172130 !important;
}


.btn_up {
  width: 48px;
  background: #ffb000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80%;
  left: 5%;
  padding: 5px;
  animation: up-down 0.8s;
  animation-iteration-count: infinite;
  display: none;
  cursor: pointer;
  z-index: 222;
}

.btn_up h3 {
  font-size: 24px;
  font-weight: bolder;
  color: white;
}



@keyframes up-down {
  0% {
    top: 79%;
    box-shadow: 0 0 4px black;
  }

  25% {
    top: 80%;
    box-shadow: 0 2px 4px black;
  }

  50% {
    top: 81%;
    box-shadow: 0 4px 4px black;
  }

  75% {
    top: 80%;
    box-shadow: 0 2px 4px black;
  }

  100% {
    top: 79%;
    box-shadow: 0 0 4px black;
  }
}



@media (max-width: 500px) {

  .App h2 {
    font-size: 40px;
  }
  
}